.app {
  align-items: center;
  background: $off-white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding: 0 200px;
  overflow: scroll;
  text-align: center;
  width: 100vw;
}
