.button {
  border: $off-white solid 0.1rem;
  border-radius: 0.3rem;
  color: $off-white;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  padding: 0.7rem;
  width: 7rem;
  transition: linear 0.2s;
}
