.header {
  align-items: center;
  background: $off-black;
  border-bottom: $off-white 0.1rem solid;
  box-shadow: $shadow;
  color: $off-white;
  display: flex;
  font-size: $s-size;
  height: 5rem;
  justify-content: space-around;
  padding: 0 10rem;
  position: relative;
  width: 100vw;
  z-index: 1;
}
