.header {
  align-items: center;
  background: $off-black;
  box-shadow: $shadow;
  color: $off-white;
  display: flex;
  font-size: $s-size;
  display: flex;
  height: 15%;
  width: 100vw;
}

.header__title {
  margin-left: -30rem;
}

.header__button {
  border: $off-white solid 0.1rem;
  border-radius: 0.3rem;
  color: $off-white;
  font-size: 1.3rem;
  // height: 2rem;
  margin-left: -20rem;
  padding: 0.7rem;
  width: 7rem;
  transition: linear 0.2s;
}

.header__button:hover {
  background: $off-white;
  color: $off-black;
}
