.item {
  display: flex;
  max-height: 4rem;
  padding: 1.5rem 1.5rem 1.5rem 5rem;
  transition: linear 0.3s;
}

.item:hover {
  background: darken($off-white, 15%);
  font-size: 0.7rem;
  cursor: pointer;
}

.item h1 {
  font-weight: 400;
}

.list-item__separator {
  height: 0.2rem;
  border-bottom: $off-black solid 0.1rem;
  margin: 0 auto;
  width: 30rem;
}
